/* -------------------------------------
   BASISINSTELLINGEN
------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #f7f6f3;
    color: #222;
    line-height: 1.6;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Premium kleuren */
:root {
    --olive: #6b7753;
    --olive-dark: #575e44;
    --gold: #c9b27c;
    --cream: #f1ede4;
    --navy: #0E1A2A;
}

/* -------------------------------------
   HEADER
------------------------------------- */
.header {
    background: white;
    border-bottom: 1px solid #e3e3e3;
    padding: 14px 0;
    position: sticky;
    top: 0;
    z-index: 999
